<%- include('../partials/header', { lang, siteName, t, currentPath, requestPath }) %>
<section class="section" style="max-width:520px;">
  <h2><%= t('changePassword') %></h2>
  <% if (mustChange) { %>
  <p><%= t('mustChangePassword') %></p>
  <% } %>
  <% if (typeof error !== 'undefined') { %>
  <div class="error-message"><%= error %></div>
  <% } %>
  <form method="post" action="/admin/change-password?lang=<%= lang %>">
    <label for="password"><%= t('newPassword') %></label>
    <input class="form-control" type="password" id="password" name="password" required />
    <label for="passwordConfirm"><%= t('passwordConfirm') %></label>
    <input class="form-control" type="password" id="passwordConfirm" name="passwordConfirm" required />
    <button class="btn btn-primary" type="submit"><%= t('changePassword') %></button>
  </form>
</section>
<%- include('../partials/footer', { t }) %>
