<%- include('../partials/header', { lang, siteName, t, currentPath, requestPath }) %>
<section class="section" style="text-align:center;">
  <h1>404</h1>
  <p><%= t('notFound') %></p>
  <a class="btn btn-primary" href="/?lang=<%= lang %>"><%= t('homeNav') %></a>
</section>
<%- include('../partials/footer', { t }) %>
